.card {
    width: 90%;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition: .5s ease;
}

.card:hover {
    transform: scale(1.05);
} 

.card .container p {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    top: calc(50% - 1rem);
    text-transform: uppercase;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    filter: none;
    z-index: 1;
    letter-spacing: 3px;
    color: white;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

.card .container .imgContainer {
    width: 100%;
    height: 100%;
}

.card .container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    filter: grayscale();
    
}

.card .container img:hover {
    filter: none;
}


@media (min-width: 500px) {
    .card {
        height: 30rem;
    }
    
}

@media (min-width: 748px) {
    .card {
        width: 33%;
        height: 350px;
    }

    .card .container p {
        font-size: 1.5rem;
    }
    
}

@media (min-width: 1080px) {
    .card {
        width: 400px;
        height: 350px;
    }

    .card .container p {
        font-size: 2rem;
    }
}