.header {
    padding: 15px 20px;
    background-color: #ffffff;
    user-select: none;
}

.header .ecommerce {
    color: rgb(0, 140, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    transition: .5s ease;

}

.header .ecommerce:hover {
    transform: scale(1.05);
}

.header svg {
    position: absolute;
    top: 15px;
    right: 20px;
    color: rgb(0, 140, 255);
}

.header .section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
}

.header .section .fwUl {
    display: none;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Sulphur Point', sans-serif;
}

.header .fwUl a {
    transition: .5s ease;
}

.header .fwUl a:hover {
    transform: scale(1.005);
    font-weight: 600;
    color: rgb(0, 140, 255);
}

.header .smSection .smUl {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;
    text-transform: uppercase;
    font-family: 'Sulphur Point', sans-serif;

}

.header .smSection .smUl a {
    transition: .5s ease;
    
}

.header .smSection .smUl a:hover {
    transform: scale(1.005);
    font-weight: 600;
    color: rgb(0, 140, 255);
}

@media (min-width: 748px) {
    .header {
        padding: 15px 20px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header svg {
        display: none;
    }

    .header .section .fwUl {
        display: flex;
        gap: 20px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Sulphur Point', sans-serif;
    }

    .header .smSection {
        display: none;
    }
}