.header {
    padding:15px 20px ;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.header .section .ecommerce {
    color: rgb(0, 140, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    transition: .5s ease;
    
}

.header .section .ecommerce:hover {
    transform: scale(1.05);
}

.header .section ul {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Sulphur Point', sans-serif;
}

.header ul a {
    transition: .5s ease;
}

.header ul a:hover {
    transform: scale(1.005);
    font-weight: 600;
    color: rgb(0, 140, 255);
}