.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.cardsSection {
  max-width: 1200px;
  margin: 3rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

}

.descriptionSection {
  margin-bottom: 50px;
  max-width: 1200px;
}

.servicesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 40px 0px;
}